<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div th:insert="navbar :: header"></div>
  <div th:insert="styles :: styles"></div>
</head>
<body>
<div class="container">
  <form th:action="@{/books/update/{id}(id=${book1.getId()})}" th:object="${book1}" method="post">
    <div class="modal-header">
      <div class="col-xs-6">
        <h4>Edit <b>Book</b></h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input type="text" th:field="*{name}" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Author</label>
        <input type="text" th:field="*{author}" name="author" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" th:field="*{description}"  name="description" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" th:field="*{price}" name="price" class="form-control" required>
      </div>
      <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    </div>
    <div class="modal-footer">
      <a th:href="@{/books}" class="btn btn-default" data-dismiss="modal">Cancel</a>
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>